{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.rtl.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.rtl.css' %}">#}

    {# fontawesome icons #}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/regular.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.esm.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row align-items-center">
        <div class="col-2 left">
            <h1>HOME</h1>
        </div>
        <div class="col">
            <a class="link link-danger text-decoration-none float-end mx-4" href="{% url 'users:logout' %}">Logout</a>
            <a class="link link-success text-decoration-none float-end" href="{% url 'users:login' %}">Login</a>
        </div>
    </div>
    <div class="row">
        <div class="col"><a class="link link-info text-decoration-none" href="{% url 'main:parking_spaces' %}">Parking Spaces List</a></div>
        <div class="col"><a class="link link-primary text-decoration-none" href="{% url 'main:reservation' %}">Reservation</a></div>
        <div class="col"><a class="link link-danger text-decoration-none" href="/swagger/">API Documentation</a></div>
    </div>
</div>
</body>
</html>