{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.css' %}">

    {# fontawesome icons #}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/regular.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.esm.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
 <div class="container mt-5">
    <div class="row mt-5">
        <h3>Parking Lot Reservation List</h3>
        <table class="table table-bordered">
            <thead class="bg-light">
            <tr>
                <td>ID</td>
                <td>Owner</td>
                <td>Lot number</td>
                <td>Duration</td>
                <td colspan="2">Action</td>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.reserved_by }}</td>
                <td>
                    {{ object.parking_space.id }}
                </td>
                <td>{{ object.duration }}</td>
                <td>
                    <a class="link link-primary text-decoration-none" href="{% url 'main:update_reservation' object.id %}">Update</a>
                    <a class="link link-danger text-decoration-none" href="{% url 'main:delete_reservation' object.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary mt-2" style="width: 80px" href="{% url 'main:create_reservation' %}">Add</a>
    </div>
    </div>
</body>
</html>