{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.rtl.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.rtl.css' %}">#}

    {# fontawesome icons #}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/regular.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.esm.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<div class="container" style="margin-top: 7%">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Registration</h1>
            <div class="card bg-light m-5 p-5">
                <form action="{% url 'user:register' %}" method="POST">
                    {% csrf_token %}
                    {% for form in forms %}
                        {{ form | as_crispy_field }}
                    {% endfor %}
                    <div class="row">
                        <button class="btn btn-lg btn-success mx-auto w-25 mt-3">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>